<mat-toolbar color="primary">
  <div class="container is-flex" style="flex:1;justify-content:space-between;">
    <div [routerLink]="['/']">Fireforce.io</div>
    <div>
      <button [routerLink]="['accounts']" mat-raised-button color="accent">Accounts</button>
      <button [routerLink]="['contacts']" mat-raised-button color="accent">Contacts</button>
    </div>
  </div>
</mat-toolbar>

<!-- <router-outlet></router-outlet> -->

<div>
  <app-dynamic-form [config]="config"></app-dynamic-form>
</div>